dataFactory/pipeline/pl_cdc_to_landing.json
{
	"name": "pl_cdc_to_landing",
	"properties": {
		"activities": [
			{
				"name": "Lookup last cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_sql_params_landing_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "TotalResults",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup last cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sql_bank",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT COUNT(*) AS total_count FROM @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table} WHERE last_updated > '@{activity('Lookup last cdc').output.value[0].cdc_timestamp}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If new rows",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "TotalResults",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('TotalResults').output.resultSets[0].rows[0].total_count, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data from sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * \nFROM @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table} \nWHERE last_updated > '@{activity('Lookup last cdc').output.value[0].cdc_timestamp}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_data_source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_data_sink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "change_cdc",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MaxCdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc_timestamp",
											"value": {
												"value": "@activity('MaxCdc').output.resultSets[0].rows[0].cdc_timestamp",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_empty_json",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_params_landing_json",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "MaxCdc",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data from sql",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_sql_bank",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "SELECT MAX(last_updated) AS cdc_timestamp\nFROM @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table}\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Success notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If new rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-247.westeurope.logic.azure.com:443/workflows/7382c1bf13de4850ab6e66e4d18ce5d9/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=-OGrKRitoA1dIvAVgeq-E7Fl5OKB7exuJudRi-Nbt3A",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\", \n    \"status\": \"Success\", \n    \"runId\": \"@{pipeline().RunId}\", \n    \"time\": \"@{utcNow()}\" \n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failed notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If new rows",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-247.westeurope.logic.azure.com:443/workflows/7382c1bf13de4850ab6e66e4d18ce5d9/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=-OGrKRitoA1dIvAVgeq-E7Fl5OKB7exuJudRi-Nbt3A",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\", \n    \"status\": \"Failed\", \n    \"runId\": \"@{pipeline().RunId}\", \n    \"time\": \"@{utcNow()}\" \n}",
						"type": "Expression"
					},
					"authentication": {
						"resource": "akv-bank",
						"credential": {
							"referenceName": "uami-credentials",
							"type": "CredentialReference"
						},
						"type": "UserAssignedManagedIdentity"
					}
				}
			}
		],
		"parameters": {
			"p_schema": {
				"type": "string",
				"defaultValue": "source"
			},
			"p_table": {
				"type": "string",
				"defaultValue": "Bank_Churn"
			}
		},
		"folder": {
			"name": "dedicated_pipelines/data_ingestion"
		},
		"annotations": []
	}
}