dataFactory/pipeline/pl_github_to_landing.json
{
	"name": "pl_github_to_landing",
	"properties": {
		"activities": [
			{
				"name": "Lookup JSON file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_github_to_landing",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach JSON file output",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup JSON file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup JSON file').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata in landing",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Copy data to landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_github_landing_sink",
									"type": "DatasetReference",
									"parameters": {
										"p_file": {
											"value": "@concat(item().p_folder, '/', formatDateTime(utcNow(), 'yy-MM-dd'))",
											"type": "Expression"
										},
										"p_folder": {
											"value": "@item().p_file",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists",
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Copy data to landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ls_dl_bank",
											"type": "LinkedServiceReference"
										},
										"path": "failed/ingestion"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_github_data_source",
									"type": "DatasetReference",
									"parameters": {
										"p_rel_url": {
											"value": "@item().p_rel_url",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_github_landing_sink",
									"type": "DatasetReference",
									"parameters": {
										"p_file": {
											"value": "@concat(item().p_folder, '/', formatDateTime(utcNow(), 'yy-MM-dd'))",
											"type": "Expression"
										},
										"p_folder": {
											"value": "@item().p_file",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "If metadata exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata in landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(activity('Get Metadata in landing').output.exists, greater(activity('Get Metadata in landing').output.size, 0))\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Append failed metadata path",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_failedMetadata",
											"value": {
												"value": "@concat(item().p_folder, '/', item().p_file)",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Append valid metadata path",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_validMetadata",
											"value": {
												"value": "@concat(item().p_folder, '/', item().p_file)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Success notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set valid metadata results",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-247.westeurope.logic.azure.com:443/workflows/7382c1bf13de4850ab6e66e4d18ce5d9/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=-OGrKRitoA1dIvAVgeq-E7Fl5OKB7exuJudRi-Nbt3A",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\", \n    \"status\": \"Success\", \n    \"runId\": \"@{pipeline().RunId}\", \n    \"time\": \"@{utcNow()}\" \n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failed notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set failed metadata results",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-247.westeurope.logic.azure.com:443/workflows/7382c1bf13de4850ab6e66e4d18ce5d9/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=-OGrKRitoA1dIvAVgeq-E7Fl5OKB7exuJudRi-Nbt3A",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\", \n    \"status\": \"Failed\", \n    \"runId\": \"@{pipeline().RunId}\", \n    \"time\": \"@{utcNow()}\" \n}",
						"type": "Expression"
					},
					"authentication": {
						"resource": "akv-bank",
						"credential": {
							"referenceName": "uami-credentials",
							"type": "CredentialReference"
						},
						"type": "UserAssignedManagedIdentity"
					}
				}
			},
			{
				"name": "Set valid metadata results",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach JSON file output",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_validMetadataResults",
					"value": {
						"value": "@string(variables('v_validMetadata'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set failed metadata results",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach JSON file output",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_failedMetadataResults",
					"value": {
						"value": "@string(variables('v_failedMetadata'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_validMetadata": {
				"type": "Array"
			},
			"v_validMetadataResults": {
				"type": "String"
			},
			"v_failedMetadata": {
				"type": "Array"
			},
			"v_failedMetadataResults": {
				"type": "String"
			}
		},
		"folder": {
			"name": "data_ingestion"
		},
		"annotations": []
	}
}