dataFactory/pipeline/pl_github_to_landing.json
{
	"name": "pl_github_to_landing",
	"properties": {
		"activities": [
			{
				"name": "Lookup JSON file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_github_to_landing",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach JSON file output",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup JSON file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup JSON file').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata in landing",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Copy data to landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_github_landing_sink",
									"type": "DatasetReference",
									"parameters": {
										"p_file": {
											"value": "@concat(item().p_folder, '/', formatDateTime(utcNow(), 'yy-MM-dd'))",
											"type": "Expression"
										},
										"p_folder": {
											"value": "@item().p_file",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists",
									"size",
									"columnCount"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If metadata exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata in landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(activity('Get Metadata in landing').output.exists, greater(activity('Get Metadata in landing').output.size, 0))\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Failed notification",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "POST",
											"url": {
												"value": "@pipeline().parameters.p_url_notification",
												"type": "Expression"
											},
											"body": {
												"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\", \n    \"status\": \"Failed\", \n    \"runId\": \"@{pipeline().RunId}\", \n    \"time\": \"@{utcNow()}\" \n}",
												"type": "Expression"
											},
											"authentication": {
												"resource": "akv-bank",
												"credential": {
													"referenceName": "uami-credentials",
													"type": "CredentialReference"
												},
												"type": "UserAssignedManagedIdentity"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Success notification",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "POST",
											"url": {
												"value": "@pipeline().parameters.p_url_notification",
												"type": "Expression"
											},
											"body": {
												"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\", \n    \"status\": \"Success\", \n    \"runId\": \"@{pipeline().RunId}\", \n    \"time\": \"@{utcNow()}\" \n}",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Copy data to landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ls_dl_bank",
											"type": "LinkedServiceReference"
										},
										"path": "failed/ingestion"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_github_data_source",
									"type": "DatasetReference",
									"parameters": {
										"p_rel_url": {
											"value": "@item().p_rel_url",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_github_landing_sink",
									"type": "DatasetReference",
									"parameters": {
										"p_file": {
											"value": "@concat(item().p_folder, '/', formatDateTime(utcNow(), 'yy-MM-dd'))",
											"type": "Expression"
										},
										"p_folder": {
											"value": "@item().p_file",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_url_notification": {
				"type": "string",
				"defaultValue": "https://prod-247.westeurope.logic.azure.com:443/workflows/7382c1bf13de4850ab6e66e4d18ce5d9/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=-OGrKRitoA1dIvAVgeq-E7Fl5OKB7exuJudRi-Nbt3A"
			}
		},
		"folder": {
			"name": "data_ingestion"
		},
		"annotations": []
	}
}