dataFactory/pipeline/pl_synapse_views.json
{
	"name": "pl_synapse_views",
	"properties": {
		"activities": [
			{
				"name": "Get metadata in gold container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_gold_metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "For each dataset",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter delta log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter delta log').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						}
					]
				}
			},
			{
				"name": "Filter delta log",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get metadata in gold container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get metadata in gold container').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name, '_delta_log'))",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "dedicated_pipelines/data_warehousing"
		},
		"annotations": []
	}
}