saw-bankcustomerchurn-dev-euwest/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "saw-bankcustomerchurn-dev-euwest"
		},
		"ls_dl_bank_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_dl_bank'"
		},
		"saw-bankcustomerchurn-dev-euwest-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'saw-bankcustomerchurn-dev-euwest-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:saw-bankcustomerchurn-dev-euwest.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"ls_dl_bank_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlbankcustomerchurn.dfs.core.windows.net/"
		},
		"ls_sql_bank_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "saw-bankcustomerchurn-dev-euwest-ondemand.sql.azuresynapse.net"
		},
		"ls_sql_bank_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "gold_db"
		},
		"saw-bankcustomerchurn-dev-euwest-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlbankcustomerchurn.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/pl_view_creation')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Get metadata in gold container",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_gold_metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Filter delta log",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get metadata in gold container",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get metadata in gold container').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@not(equals(item().name, '_delta_log'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For each dataset",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter delta log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter delta log').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Stored procedure for gold views",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[usp_CreateCountryView]",
										"storedProcedureParameters": {
											"@CountryName": {
												"value": {
													"value": "@replace(item().name, 'geography=', '')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sql_bank",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/ds_gold_metadata')]",
				"[concat(variables('workspaceId'), '/linkedServices/ls_sql_bank')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_gold_metadata')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_bank",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Bank_Churn",
						"fileSystem": "gold"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_dl_bank')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_dl_bank')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_dl_bank_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_dl_bank_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_sql_bank')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_bank_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_bank_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/saw-bankcustomerchurn-dev-euwest-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('saw-bankcustomerchurn-dev-euwest-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/saw-bankcustomerchurn-dev-euwest-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('saw-bankcustomerchurn-dev-euwest-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/gold view creation')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "-- Australia\nDROP VIEW IF EXISTS AustraliaView;\nGO\n\nCREATE VIEW AustraliaView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Australia/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Colombia\nDROP VIEW IF EXISTS ColombiaView;\nGO\n\nCREATE VIEW ColombiaView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Colombia/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Denmark\nDROP VIEW IF EXISTS DenmarkView;\nGO\n\nCREATE VIEW DenmarkView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Denmark/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- France\nDROP VIEW IF EXISTS FranceView;\nGO\n\nCREATE VIEW FranceView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=France/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Germany\nDROP VIEW IF EXISTS GermanyView;\nGO\n\nCREATE VIEW GermanyView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Germany/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- India\nDROP VIEW IF EXISTS IndiaView;\nGO\n\nCREATE VIEW IndiaView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=India/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Indonesia\nDROP VIEW IF EXISTS IndonesiaView;\nGO\n\nCREATE VIEW IndonesiaView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Indonesia/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Italy\nDROP VIEW IF EXISTS ItalyView;\nGO\n\nCREATE VIEW ItalyView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Italy/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Japan\nDROP VIEW IF EXISTS JapanView;\nGO\n\nCREATE VIEW JapanView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Japan/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Kenya\nDROP VIEW IF EXISTS KenyaView;\nGO\n\nCREATE VIEW KenyaView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Kenya/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Mexico\nDROP VIEW IF EXISTS MexicoView;\nGO\n\nCREATE VIEW MexicoView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Mexico/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Nepal\nDROP VIEW IF EXISTS NepalView;\nGO\n\nCREATE VIEW NepalView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Nepal/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Nigeria\nDROP VIEW IF EXISTS NigeriaView;\nGO\n\nCREATE VIEW NigeriaView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Nigeria/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Norway\nDROP VIEW IF EXISTS NorwayView;\nGO\n\nCREATE VIEW NorwayView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Norway/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Pakistan\nDROP VIEW IF EXISTS PakistanView;\nGO\n\nCREATE VIEW PakistanView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Pakistan/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Philippines\nDROP VIEW IF EXISTS PhilippinesView;\nGO\n\nCREATE VIEW PhilippinesView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Philippines/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Russia\nDROP VIEW IF EXISTS RussiaView;\nGO\n\nCREATE VIEW RussiaView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Russia/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Singapore\nDROP VIEW IF EXISTS SingaporeView;\nGO\n\nCREATE VIEW SingaporeView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Singapore/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- South Korea\nDROP VIEW IF EXISTS SouthKoreaView;\nGO\n\nCREATE VIEW SouthKoreaView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=South Korea/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Spain\nDROP VIEW IF EXISTS SpainView;\nGO\n\nCREATE VIEW SpainView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Spain/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Sweden\nDROP VIEW IF EXISTS SwedenView;\nGO\n\nCREATE VIEW SwedenView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Sweden/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- USA\nDROP VIEW IF EXISTS USAView;\nGO\n\nCREATE VIEW USAView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=USA/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n\n-- Vietnam\nDROP VIEW IF EXISTS VietnamView;\nGO\n\nCREATE VIEW VietnamView AS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://dlbankcustomerchurn.dfs.core.windows.net/gold/Bank_Churn/geography=Vietnam/',\n    FORMAT='PARQUET'\n) AS result;\nGO\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "gold_db",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/viewpercountry')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": []
			},
			"dependsOn": []
		}
	]
}